@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');

@font-face {
    font-family: 'Noah Regular';
    src: url("../fonts/Noah-Regular.ttf");
}
@font-face {
    font-family: 'Noah Bold';
    src: url("../fonts/Noah-Bold.ttf");
}
@font-face {
    font-family: 'Futura PT Light';
    src: url("../fonts/FuturaPT-Light.ttf");
}
@font-face {
    font-family: 'Bahnschrift SemiBold';
    src: url("../fonts/bahnschrift.ttf");
}
.focus{ max-height: calc(100% - 150px);}
*.button:active, .button:focus, .button:active:focus, .button.active:focus {
        outline: none !important;
    }
* button:active, button:focus, button:active:focus, button.active:focus {
        outline: none !important;
    }
*{
  font-family: 'Golos Text', sans-serif;
}
.side{
    height: 100vh;
    padding: 0;
    margin: 0;
}
body,html{
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    scrollbar-width: thin;
      scrollbar-color: rgba(0,0,0,0.1) transparent;
}
.menu{
    width: 20%;
    /*min-width: 300px;*/
    z-index: 5;
    text-align: center;
    box-shadow: inset -2px -2px 8px rgba(0, 0, 0, 0.16);
    background: #b4a790;
    background-image: url("../img/ScrollBack.png");
    transition: width 80ms ease-in;
}
.main{
    width: 80%;
    background-color: #F2F3F4;
    transition: width 80ms ease-in;
}
.header{
    background-color: white;
    position: absolute;
    top: 0;
    z-index: 0;
    height: 72px;
    width: inherit;
    color: black;
    vertical-align: middle;
    padding-left: 24px;
    box-shadow: 0px 5px 10px #dbdbdb;
}
.banner{
    margin-top: 10px;
    height: 50px;
    align-content: center;
    display: block;
    text-align: left;
}
.logo{
    height: 50px;
    width: auto;
}
/*.titleBox{*/
/*    padding-left: 18px;*/
/*    display: inline-block;*/
/*    vertical-align: middle;*/
/*    padding-top: 0;*/
/*    margin-bottom: 15px;*/
/*    height: 50px;*/
/*}*/
.title, .subtitle{
    line-height: 0.8em;
}
.title{
    font-family: "Kepler 296", monospace;
    font-size: 30px;
    padding-bottom: 4px;
}
.subtitle{
    font-family: "Noah Regular", monospace;
}
.buttons{
    top: -5px;
    right: 0;
    position: absolute;
    margin: 0;
}
.userPic{
    border-radius: 50%;
    width: 120px;
    box-shadow: rgba(0, 0, 0, 0.08) 1px 1px 8px;
}
.userBox{
    margin-top:35%;
    color: white;
    width: 100%;
    text-align: center;
}
.userBox>img{
    width: 120px;
    max-width: 120px;
}
.userName{
    font-family: "Golos Text", monospace;
    font-size: 24px;
    margin-top: 15px;

    color: #1d1d1d;
    /*background-color: rgba(255, 255, 255, 0.41);*/
    border-radius: 25px;
    width: 100%;
}
.userRole{
    font-family: "Golos Text", monospace;
    font-size: 16px;
    line-height: 0.8em;
    color: #6c6c6c;
}
.options{
    margin-top: 42px;
    text-align: center;
    height: 100%;
    width: 100%;
}
.option{
    max-width: 300px;
    width: 70%;
    /*margin-left: 16%;*/
    text-align: left;
    /*color: white;*/
    height: 50px;
    color: #1d1d1d;
    box-shadow: rgba(0, 0, 0, 0.18) 1px 1px 8px;
    transition: margin-left 0.1s ease-in;
    margin-bottom: 12px;
    background-color: white;
    border-radius: 24px;
}
.option {
    /*padding: 15px 32px 15px 15px !important;*/
    padding: 0;
    padding-left: 15px;
    padding-right: 7px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.option:hover{ background-color: rgba(255, 255, 255, 0.8); margin-left: 20px}
.content{
    max-width: calc(100vw - 20%);
    padding-top: 110px;
    padding-left: 40px;
    /*background-color: aquamarine;*/
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.name{
    font-family: "Futura PT Light", monospace;
    font-size: 32px;
    margin-bottom: 13px;
}
.cloud{
    font-family: "Noah Regular", monospace;
    background-color: white;
    box-shadow: 0px 5px 13px #d2d2d2;
    border-radius: 8px;
    padding: 5px 25px;
    /*z-index: 1;*/
    width: fit-content;
    transition: all 0.12s ease-in-out;
    margin-bottom: 25px;

}
.tail{
    padding-left: 6px;
    font-family: "Noah Regular", monospace;
    font-size: 12px;
}

.number{
    font-family: "Noah Regular", monospace;
    font-size: 28px;
    padding-right: 58px;
}
.line{
    display: inline-block;
    vertical-align:top !important;
    margin-right: 25px;

}
.line-wrap{
    vertical-align: top !important;
    /*margin-bottom: 22px;*/
}

::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb
{
    border-radius: 10px;
	background-color: #d9d9d9;
}
.dropdown-toggle, .dropdown-item{width: 140px;font-family: Rubik, monospace; padding-left: 20px}
.dropdown-toggle{padding-left: 0px; text-align: left}
.dropdown-toggle:focus,.dropdown-item:focus {
    /*border-color: #66afe9;*/
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #f5f5f5;
}
.dropdown-item:focus{
    background-color: #11e9be;
}
.dropdown-toggle:hover{
    background-color: #f5f5f5;
}
.mini .userName{font-size: 0px;  }
.mini .userRole{font-size: 0px}
.mini .option{font-size: 0px; display: block; height: auto;
    margin-left: 25px; width: fit-content;padding: 14px; border-radius: 50px}
.mini .option:hover{margin-left: 32px}
.mini .userBox>img{
    width: inherit;
    max-width: 80px;
}
.mini .userBox{margin-top: 50%}
.mini .options{
    padding-left: 18px;
    margin-top: 20px;
}
.mini .ico1, .mini .ico2, .mini .ico3, .mini .ico4, .mini .ico5, .mini .ico6, .mini .ico9 {
    margin: 0;
}

.mini {
    width: 140px !important;
    max-width: 140px;

}
.minimain {width: calc(100% - 140px)}
.minimain .content{max-width: 100%}

@media (max-width: 1008px){
    .userName{font-size: 16px; margin-top: 2px}
    .userRole{font-size: 14px}
    .option{font-size: 0px; display: block; margin-left: 25px; width: fit-content; padding-left: 25px}
    .userBox>img{
    width: inherit;
    max-width: 80px;
}
}

/* Hide scrollbar by default */
html::-webkit-scrollbar {
  width: 6px !important; /* slim width */
  height: 6px; /* for horizontal scroll */
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); /* light thumb */
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
/* Firefox scrollbar styling */
html {
  scrollbar-width: 6px;           /* thin scrollbar */
  scrollbar-color: rgba(0,0,0,0.55) transparent; /* thumb & track */
}

.js-plotly-plot .plotly .cursor-pointer{
    cursor: default !important;
}
#ProjectFilterGraph {
    border: 2px #989898 solid;
    border-radius: 6px;

}
#ProjectFilterGraph .Select-control{
    background-color: white !important;
}
#ProjectFilterGraph .Select-value{
    padding-right: 18px !important;
}
#FilterGraph {
    border: 2px #989898 solid;
    border-radius: 6px;

}
#FilterGraph .Select-control{
    background-color: white !important;
}
.graph{
    padding: 0 !important;
}
.form-check-input:focus{
    box-shadow: none;
}
.red{
    background-color: #ea003f;
    color: white;
}
.column-header-name{
    overflow: hidden;
    text-overflow: ellipsis;
}


